$bacground-color:#ffc904;
$joke-container--bg:#d8f3fd;
$color-tx:#2f2b1e;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    line-height: 1.6rem;
    font-weight: 600;
}
body{
    background-color: $bacground-color;
}
.container{
    background-color: $joke-container--bg;
    width: 50%;
    margin: 120px auto;
    height: 500px;
    h1{
        text-align: center;
        padding: 80px;
        font-size: 80px;
    }
    p{
        text-align: center;
        margin: 30px auto;
        opacity: 0;
    }
    .fade{
        opacity: 1;
    }
    button{
        background-color: $bacground-color;
        border :1px;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        font-size: 25px;
        margin: 20px 280px;
        cursor: pointer;
    }
}
